{% extends 'base.html' %}
{% block main %}


<div class="container-fluid">
    <div class="row">
      <div class="col-sm-0"></div>
      <div class="col-sm-4 bg-light text-black">
        <h1>піцерія Лас-Пікасо</h1>
      </div>
      <div class="col-sm-0"></div>
    </div>
    <p>В одному невеликому містечку на березі мальовничого озера розташувався чарівний магазин-піцерія під назвою "Лас Пікасо".</p>
    <p>Цей магазин був особливим місцем, де піца не тільки смачна, але й має унікальну історію.<p>
    <p>Господарем піцерії був старий кухар на ім'я Джованні, який переїхав сюди з Італії багато років тому.<p>
    <p>Він був справжнім майстром своєї справи, але його піца мала одну відмінність — інгредієнти для неї збиралися з навколишнього лісу.<p>
    <p>Джованні вірив, що природа дарує найкращі смаки, тому його піца була наповнена свіжими грибами, лісовими ягодами, ароматними травами та навіть медом з місцевих бджолиних вуликів.<p>
    <p>Одна з найпопулярніших піц називалася "Лісова казка".<p>
    <p> Її секрет полягав у тому, що Джованні додавав до соусу особливу траву, яка росла тільки в одному місці — на галявині, яку місцеві мешканці вважали магічною.<p>
    <p>Кажуть, що ця трава надавала піці особливого аромату та незабутнього смаку.<p>
    <p>Одного разу в містечко приїхала молода дівчина на ім'я Софія. Вона була мандрівницею і випадково натрапила на "Лісову Піцу".<p>
    <p>Зайшовши всередину, вона одразу відчула теплоту та затишок цього місця. Джованні з радістю приготував для неї "Лісову казку".<p>
    <p>Спробувавши цю піцу, Софія відчула не тільки її смак, але й якусь незвичайну магію.<p>
    <p>Після вечері Джованні розповів Софії про свої пригоди в лісі, про те, як він знайшов ту магічну галявину і як одного разу врятував маленького лісового духа, який з тих пір допомагав йому знаходити найкращі інгредієнти.<p>
    <p>Софія була зачарована цими історіями і вирішила залишитися в містечку на деякий час.<p>
    <p>Вона почала допомагати Джованні у піцерії і навчилася готувати "Лісову казку" так само майстерно, як і він.<p>
    <p>Місцеві мешканці полюбили Софію, а піцерія стала ще більш популярною. Одного разу Софія запропонувала додати до меню нову піцу — з інгредієнтами, які вона сама знайшла у лісі.<p>
    <p>Так з'явилася "Лісова мрія" — піца з грибами, сушеними ягодами та сиром, запеченим на відкритому вогні.<p>
    <p>З часом Софія та Джованні стали не просто колегами, але й добрими друзями. Вони разом відкрили ще одну піцерію в сусідньому містечку, де продовжували ділитися своїми унікальними рецептами та магією лісу.<p>

<p>І досі "Лісова Піца" залишається особливим місцем, де кожен відвідувач може відчути смак природи та тепло дружби, яке панує у цьому маленькому магазині-піцерії на березі чарівного озера.</p>

  </div>
  {% endblock main %}