<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lass picasso</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="icon" href="{{ url_for('static', filename='img/lass.png') }}" type="image/png">

</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">

<ul class="navbar-nav">

     <li class="nav-item">
        <a class="nav-link" href="/">Головна</a>
     </li>
     <li class="nav-item">
         <a class="nav-link" href="/aboutus">Інформація</a>
     </li>
     <div class="btn-group">
  <div class="btn-group">
    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">Каталог їжі</button>
    <div class="dropdown-menu">
      <button type="button" class="btn btn-dark  dropdown-toggle" data-bs-toggle="dropdown">Піци</button>
        <a class="dropdown-item" href="/product/0">Гавайська піца</a>
        <a class="dropdown-item" href="/product/1">Піца Три Сири</a>
      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">Соки</button>
        <a class="dropdown-item" href="/product/2">Ананасовий фреш</a>
        <a class="dropdown-item" href="/product/3">Лимонад освіжаючий</a>
        <a class="dropdown-item" href="/product/4">Апельсиновий мікс</a>
      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">Напій</button>
        <a class="dropdown-item" href="/product/8">Класична Кока-Кола</a>
        <a class="dropdown-item" href="/product/9">Прохолодний Спрайт</a>
        <a class="dropdown-item" href="/product/10">Чиста вода</a>
        <a class="dropdown-item" href="/product/12">Кокосове Лате</a>
      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">Десерт</button>
        <a class="dropdown-item" href="/product/5">Вишуканий десерт</a>
        <a class="dropdown-item" href="/product/6">Шоколадний донат</a>
      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">Фас-фут</button>
      <a class="dropdown-item" href="/product/13">Шаурма</a>
      <a class="dropdown-item" href="/product/14">Картопля фрі</a>
      <a class="dropdown-item" href="/product/15">Курячі крильця</a>

</ul>
  </div>
</nav>

{% block main %}
{% endblock main %}
</body>
</html>

