{% extends 'base.html' %}
{% block main %}

<div class="container-fluid mt-3">
  <h3>pizzeria</h3>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-4 bg-light black">
        <h2>товари піцерії</h2>
      </div>
      <div class="col-sm-4"></div>
    </div>
<section class="container">
    <div class="row">
        {% for item in items %}
            <div class="col-md-3 col-sm-6">
                <div class="card m-3 rounded">
                    <img src="{{ url_for('static', filename='img/'+ item[5]) }}" class="card-img-rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item[1]}}</h5>
                        <p class="card-text">{{item[3]}} грн</p>
                        <a href="{{ url_for('product_page', item_id=item[0]) }}" class="btn btn-outline-dark stretched-link">Купити</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

  </div>
  {% endblock main %}

